#comment-result {
    display: flex;
    flex-direction: column;
    
  }
    
  .comment-box {
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 10px;
  }
  
  .comment-text {
    margin: 10px;
    font-size: 20px;
  }